{% extends 'base.html' %}

{% block title %} about page{% endblock %}

{% block content %} 



<center><h1> ABOUT US</h1></center>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fugit et, repellat quam voluptatum veritatis architecto, pariatur nam distinctio hic debitis ducimus consequuntur tempore delectus ab eaque qui quasi quaerat?</p>

<br>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate necessitatibus non eveniet doloremque, cumque ducimus accusamus fugit enim natus neque harum hic perferendis delectus. Explicabo, sequi? Fugiat molestias laudantium accusamus!</p>

{% endblock %}