{% extends 'base.html' %}
    
{% block title %} BOOK {% endblock %}

{% block content %} 
{% load crispy_forms_tags %}

<!-- current user :{{ user.id}}
 {% if user.is_authenticated %} -->


  
<form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form | crispy}}
        <input type="submit" name="submit" value="BOOK">

</form>
<!-- {% else %}
<h2>You need to log in</h2>

{% endif %} -->




         {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{message.tag}}">{{message}}</div>
        {% endfor %}



        <p><a href="{% url 'logout' %}">Log out</a></p>


{% endif %}
{% endblock %}