{% extends 'base.html' %}
    
{% block title %} BOOK {% endblock %}

{% block content %} 
{% load crispy_forms_tags %}
  
<form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form | crispy}}
        <input type="submit" name="submit" value="BOOK">

</form>



         {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{message.tag}}">{{message}}</div>
        {% endfor %}



        <p><a href="{% url 'logout' %}">Log out</a></p>


{% endif %}
{% endblock %}