{% extends 'base.html' %}

{% block title %} about page{% endblock %}

{% block content %} 



<center><h1> DASHBOARD </h1></center>



{% if request.user.is_authenticated %}

hello {{ user.username}},


{% comment %} <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                           
                            <th scope="col">First name</th>
                            <th scope="col">Middle name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Occupation</th>
                            <th scope="col">Email</th>
                            <th scope="col">Passport</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in prof %}
                        <tr>
                           
                          <td>{{user.First_name}}</td>
			<td>{{user.Middle_name}}</td>
			<td>{{user.Last_name}}</td>
			<td>{{user.Occupation}}</td>
			<td>{{user.Email}}</td>
			<td>{{user.passport}}</td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table> {% endcomment %}



 <div class="col-md-8">
                    <table class="table table-borderless">

		     {% for user in prof %}
                        <thead>
                            <span class="h4">Porfile Information</span class="h4">
                            <a class="btn btn-info btn-sm float-right" href="{% url 'book_appointment:profile_edit' user.id %}">Edit</a>
                            <hr>
                        </thead>
                        <tbody>

			
                            <tr>
                                <th scope="row">first Name</th>
                                <td>{{user.First_name}}</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">Middle Name</th>
                                <td>{{ user.Middle_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name</th>
                                <td>{{ user.Last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Ocupation</th>
                                <td>{{ user.Occupation }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.Email }}</td>
                            </tr>
                        </tbody>
                    </table>

		     {% endfor %}
                </div>
                
                <div class="col-md-4">
                    <img class="img-thumbnail" src="{{ user.Passport.image.url }}" alt="profile-image">
                </div>


<button><a href="{% url  'book_appointment:profile_edit' user.id  %}">edit profile</a></button><br><br><br><br>


<button><a href="{% url 'book_appointment:venue' %}">venue</a></button></button><br><br><br><br>

<button><a href="{% url 'book_appointment:book' %}">book appointment</a>



{% else %}

login

{% endif %}

{% comment %} 
{% for user in users %}

<table>
    <tr>
    <td>{{ user.First_name} }</td>
    <td>{{ user.Middle_name }}</td>
    <td>{{ user.Last_name }}</td>
    <td>{{ user.Occupation }}</td>
    <td>{{ user.Email }}</td>
    <td>{{user.Passport}}</td>
    
    
    </tr>
    
    </table>

{% endfor %}

    <a href="{% url  book_appointment 'profile_edit/<int:id>/' %}">Edit Profile</a>  {% endcomment %}

{% endblock content %}