{% extends 'base.html' %}

{% block title %} WELCOME TO KNH VACCINE BOOKING{% endblock %}

{% block content %} 



<center><h1> WELCOME TO KNH VACCINE BOOKING !!!</h1></center><br><br><br>



<img class="pic"
src="/home/captain/KNH/APPOINTMENT/covid/book_appointment/static/book_appointment/media/x-special/nautilus-clipboard copy file:/home/captain/Downloads/Coronavirus-Awareness.jpg" alt="", 
sizes="(max-width: 600px) ">


{% if user.is_authenticated %}
    <p> Jambo {{ user.username }}, Check your email for the date booked and doctor to server you. Thank you </p><br><br>
    <a href="{% url 'logout' %}">Log out</a>

  


{% else %}
    <center><strong><p>You are not Logged in</p></strong></center>

    


{% endif %}


{% endblock %}