{% extends 'base.html' %}

{% block title %} WELCOME TO KNH VACCINE BOOKING{% endblock %}

{% block content %} 



<center><h1> WELCOME TO KNH VACCINE BOOKING !!!</h1></center><br><br><br>


{% if user.is_authenticated %}
    <p> Jambo {{ user.username }}, Check your email for the date booked and doctor to server you. Thank you </p><br><br>
    <a href="{% url 'logout' %}">Log out</a>




{% else %}
    <center><strong><p>You are not Logged in</p></strong></center>

    


{% endif %}


{% endblock %}