{% extends "base.html" %}

{% block titile %}Create your account {% endblock %}

{% block content %}
{% load crispy_forms_tags %}




<div class="container-fluid">
      <div class="col-md-6 offset-md-3">
              <form class="form-2" action="" form method="post">
                {% csrf_token %}

                {{form|crispy}}
                
               
                       {% comment %} <div class="form-group">
                      <label for="exampleInputEmail1">Username</label>
                      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter Username">
                      
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="password" name="password1" placeholder="Password">
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password Confirmation</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>    {% endcomment %}

                   <button type="submit" class="btn btn-primary">Signup</button> 
                  
                
                
              </form>
      </div>
</div>

{% endblock %}