{% extends 'base.html' %}
{% load crispy_forms_tags %}
    
{% block title %} Login {% endblock %}

{% block content %} 

    

<div class="container-fluid">
    <div class="col-md-6 offset-md-3">
        <form class="form-3" action="" method="post">

            {% csrf_token %}
            {% comment %} <div class="form-group">
                {{form | crispy}}
    
            </div>
            <div class="form-group">
                <button type="submit" class="btn-outline-success btn-sm">Log in</button>
            </div>
             </form>    {% endcomment %}
             
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="UsernameHelp" placeholder="Enter Username">
                {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            {% comment %} <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> {% endcomment %}
            
            <button type="submit" class="btn btn-primary">Login</button>
            
            <a class="ms-2" href="{% url 'password_reset' %}" style="text-decoration:none;">Forgot password?</a>
            </form>
            

    </div>
</div>

   
        {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{message.tag}}">{{message}}</div>


        {% endfor %}
        {% endif %}
    
        

{% endblock %}